<!doctype html>
<html>
<head>
<link rel='stylesheet' href='/static/style.css'>
</head>
<body>

<h1> {{c['name']}} </h1> 
<div class='properties'>

<div> Capital: {{c['capital']}} </div>
</div>

<div>
<div> Continent: <a href='../continent/{{c.continent}}'>
{{c['continent']}}</a></div>
</div>

<div> Population: {{"{:,.0f}".format(c['population'])}} </div>

<div> GDP: (million): ${{"{:,.0f}".format(c['gdp']/1000000)}} </div>


<div>
<div> Flag: </div>
<div> <img src="{{c['flag']}}" class='big'> </div>
</div>
</div>

</body>
</html>
